/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */
 /* stylelint-disable */
 /* Keep reset CSS to one minified line */
 a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
 /* stylelint-enable */

/* ==== BASE STYLES ==== */

/*
Setting type to major third modular scale
http://www.modularscale.com/?20&px&1.25&web&text
*/
html {
  font-size: 1.25em; /* 20px */
  line-height: 1.2em; /* 24px */
  padding: 1em 1em;/* 20px 20px */
  background-color: #faebd7;
  color: #3D3D0D;
  margin: 0 2.5% 0 5%;
}

h1 {
  font-size: 1.6em; /* 32px */
  line-height: 1.1875em; /* 38px @ 32px em*/
}

h2 {
  font-size: 0.8em; /* 16px */
  line-height: 1.1875em; /* 19px @ 16px em */
  padding-bottom: 1em;
}

h3 {
  font-size: 1.25em; /* 25px */
  line-height: 1.2em; /* 30px @ 25px em */
}

p,
ul {
  font-size: 0.8em; /* 16px */
  line-height: 1.1875em; /* 19px */
  padding-bottom: 1em; /* 16px */
}

img, video {
  display: block;
  max-width: 100%;
}

nav li {
  display: inline;
  font-size: 0.75em; /* 15px */
}

#page {
  max-width: 30em; /* 700px @ 20px/em */
}

/* ===== MODULAR STYLES ===== */

.content ul {
  list-style-type: disc;
}

/* +++ resume specific +++ */

.p-name {
  font-weight: bold;
}

.p-summary h3 {
  font-weight: bold;
}

.qualifications li {
  margin-left: 1em; /* 20px */
}

.client li {
  margin-left: 1em;  /* 20px */
}
.client-experience h2 {
  padding-bottom: 0.5em;
}
.employer h3 {
  font-size: 1.285em;
}
.employer h4 {
  font-style: italic;
}
.employer h2 {
  padding-bottom: 0.5em;
}

.h-resume h2 h3 {
  font-weight: bold;
  font-size: 2.25em; /* 25px */
}

.iowa {
  padding-bottom: 0;
}
.education h2 {
  padding-bottom: 0.5em; /* 10px */
}
.education li {
  padding-bottom: 0;
  list-style-type: none;
  display: inline;
}
.education li:after {
  content: ", ";
}
.education li:last-of-type:after {
  content: ".";
}
.technical {
  padding: 0;
  margin: 0;
}
.technical dl {
  padding: 0;
  width: 100%;
}

.technical dt {
  float: left;
  width: 384em; /* 19.2px (keep the text from folding) */
}

.technical dd {
  clear: left;
  margin: 1em;  /* 20px */
  padding: 0;
}

.technical li {
  list-style-type: "- ";
}

.technical ul:last-of-type {
  padding-bottom: 0;
}

.technical h2 {
  font-weight: bold;
  font-size: 1.25em; /* 25px */
  padding-bottom: 0;
}

.p-experience h2 {
  font-weight: bold;
  padding-bottom: 0;
  font-size: 1.05em; /* 21px */
}

.p-experience h5 {
  font-weight: bold;
  font-size: 1.25em; /* 25px */
  padding-bottom: 0.5em; /* 10px */
}

/* +++ resume specific end +++ */

/* +++ Keweenaw specific +++ */

.location h2 {
  font-weight: bold;
  padding-top: 2em; /* 40px */
  padding-bottom: 0;
}

.map {
  float: right;
  padding: 0;
  padding-left: -1em;
  /*padding-left: .25em;*/
}
.scenery {
  clear: both;
}
/* +++ Keweenaw specific end +++ */

/* ==== State Styles ==== */

/* 385 @ 20px/em (19.25em) */
@media screen and (min-width: 19.25em) {
  .u-email {
    float: left;
    padding-right: 1em;
  }
}

/* 700 @ 20px/em (35em) */
@media screen and (min-width: 35em) {
  .location p {
    margin-right: 1em;
  }
}

/* 1000 @ 20px/em (50em) */
@media screen and (min-width: 50em) {
  .h-resume #page {
    max-width: 40em; /* 800px @ 20px/em */
  }
}



/* 1100 @ 20px/em (55em)*/
@media screen and (min-width: 55em) {
  .technical li {
    display: inline;
  }
  .technical li:after {
    content: ", ";
  }
  .technical li:last-of-type:after {
    content: none;
  }
  .p-experience {
    clear: both;
  }
}

