/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */
 /* stylelint-disable */
 /* Keep reset CSS to one minified line */
 a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
 /* stylelint-enable */

 /* ==== BASE STYLES ==== */

/*
Setting type to major third modular scale
http://www.modularscale.com/?20&px&1.25&web&text
*/
html {
  font-size: 1.25em; /* 20px */
  line-height: 1.2em; /* 24px */
  padding: 1em 1em;/*0.7647em 1.257em;???*/
  background-color: #faebd7;
  color: #3D3D0D;
  margin: 0 2.5% 0 5%;
}

h1 {
  font-size: 1.6em; /* 32px */
  line-height: 1.1875em; /* 38px @ 32px em*/
}

h2 {
  font-size: .8em; /* 16px */
  line-height: 1.1875em; /* 19px @ 16px em */
  padding-bottom: 1em;
}

h3 {
  font-size: 1.5em; /* 30px */
  line-height: 1.207em; /* 35px @ 29px em */
}

p,
ul {
  padding-bottom: 1em; /* 20px */
}

img,video {
  display: block;
  max-width: 100%;
}

/* ===== MODULAR STYLES ===== */

.content ul {
  list-style-type: disc;
}


/* ==== State Styles ==== */
/* 600 @ 20px/em */
@media screen and (min-width: 30em) {
  #page {
    font-size: 1.312em; /* 21px */
    line-height: 1.227em; /* 27px */
    margin: 0 5% 0 5%;
  }
}

/* 700 @ 16px/em */
@media screen and (min-width: 43.75em) {
  #page {
    font-size: 1.375em; /* 22px
    margin: 0 15% 0 5%;
  }
  /* +++ resume specific +++ */
  .h-resume {
    font-size: 1em;
  }
}

/* 750 @ 16px/em */
@media screen and (min-width: 46.875em) {
  #page {
    margin: 0 15% 0 5%;
  }
}

/* 980 @ 16px/em */
@media screen and (min-width: 61.25em) {
  #page {
    margin: 0 20% 0 5%;
  }
}

/* 1100 @ 16px/em */
@media screen and (min-width: 68.75em) {
  .technical li {
    display: inline;
  }
  .technical li:after {
    content: ", ";
  }
  .technical li:last-of-type:after {
    content: none;
  }
  .p-experience {
    clear: both;
  }
}
